body {
    height: 100%;
    max-width: 100%;
    color: white;
    overflow: hidden;
}

/** Links widget **/
.links-wrapper {
    position: absolute;
    top: 15px;
    left: 15px;
}
.links-wrapper button {
    border: none;
    background-color: transparent;
    color: #fff;
    cursor: pointer;
    padding: 0;
}
.links-wrapper button:focus {
    outline:0;
}
.links-wrapper ul {
    opacity: 0;
    transform: translate3d(0, -5px, 0);
    list-style-type: none;
    background: rgba(15,15,15,.65);
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.925);
    margin: 10px 0 0 0;
    padding: 10px;
    width: 240px;
}
.links-wrapper ul a {
    color:#fff;
    text-decoration: none;
    opacity: .7;
    transition: all .1s;
}
.links-wrapper ul a:hover {
    opacity: 1;
}
.links-wrapper ul svg {
    margin-right: 5px;
}
#links-input {
    background-color: transparent;
    border: none;
    color: #fff;
    opacity: .9;
    font-size: .9em;
}
#links-input:focus {
    outline: 0;
}
.center-horizontally {
    width: 100%;
    text-align: center;
}

.quoteHolder {
    position: absolute;
    bottom: 0;
    margin-bottom: 10px;
    text-align: center;
    width: 100%;
}

.clock {
    font-size: 8.5em;
}

.greeting {
    font-size: 4em;
}
  
.quoteAuthor, .like, .twitterIcon {
    display: inline;
    margin-right: .5%;
}

.authorLikeTwitter {
    width: 100%;
    opacity: 0;
}

/** CSS animations **/
@keyframes reset {
    0% {
       transform: translate3d(0, 0, 0);
    }
    100% {
        transform: translate3d(0, 15px, 0);
    }
}
@keyframes shiftUp {
    0% {
       transform: translate3d(0, 15px, 0);
    }
    100% {
        transform: translate3d(0, 0, 0);
    }    
}
@keyframes fadeInDown {
    0% {
      opacity: 0;
      transform: translate3d(0, -20px, 0);
    }
    100% {
      opacity: 1;
      transform: none;
    }
}
@keyframes fadeInUp {
    0% {
      opacity: 1;
      transform: none;
    }
    100% {
      opacity: 0;
      transform: translate3d(0, -20px, 0);
    }
}
@keyframes fadePanelDown {
    0% {
      opacity: 0;
      transform: translate3d(0, -5px, 0);
    }
    100% {
      opacity: 1;
      transform: none;
    }
}
@keyframes fadePanelUp {
    0% {
      opacity: 1;
      transform: none;
    }
    100% {
      opacity: 0;
      transform: translate3d(0, -10px, 0);
    }
}
/* Utility class to set general rules for an animated element. Apply this on all elements that will animate */
.animation-element {
    animation-duration: .3s;
    transition-timing-function: ease-in-out;
    animation-fill-mode: both;
}
/* Utility class to fade down a panel */
.fadePanelDown {
    animation-name: fadePanelDown;
}
/* Utility class to fade up a panel */
.fadePanelUp {
    animation-name: fadePanelUp;
}
/* Animate to default position off hover */
.quoteTextWrapper {
    animation-name: reset;
}
/* Animate to default position off hover  */
.authorLikeTwitter {
    animation-name: fadeInUp;
}
/* Animate to new position on hover */
.quoteTextWrapper:hover {
    animation-name: shiftUp;
}
/* Animate to new position on hover */
.quoteTextWrapper:hover .authorLikeTwitter {
    animation-name: fadeInDown;
}

.like:hover {
    color: #EE2625;
    cursor: pointer;
    transition: color 0.3s linear;
}

.twitterIcon:hover {
    color: #1dcaff;
    cursor: pointer;
    transition: color 0.3s linear;
}

.quoteTextWrapper {
    position: relative;
    margin: 0 auto;
}

.quoteText {
    margin: 0 auto;
    height: 100%;
}

.focus-question {
    margin-top: 5%;
    margin-bottom: 2%;
    font-size: 3em;
}

#focus-item {
    width: 40%;
    box-sizing: border-box;
    border: none;
    border-bottom: 2px solid white;
    background-color: transparent;
    font-size: 2em;
    text-align: center;
}

#focus-item:focus {
    outline-width: 0;
}

.stack {
    display: inline-block;
}

input[type=text]#focus-item {
    color: white;
}


.current-focus {
    width: 25%;
    text-align: center;
    margin: 0 auto;
    padding-bottom: 1em;
    display: inline;
}

.current-focus:hover .remove-focus, .current-focus:hover .check-box {
    visibility: visible;
    opacity: 1;
    transition: visibility 0s, opacity 0.5s linear;
}

.remove-focus:hover, .check-box:hover {
    cursor: pointer;
}

.today-text {
    font-size: 2em;
    margin-bottom: .5em;
}

.focus-text {
    font-size: 1.5em;
    padding-left: 1em;
    padding-right: 1em;
}

.remove-focus, .check-box {
    visibility: hidden;
    opacity: 0;
}

.focus-element {
    min-height: 16.5em;
}

.current-focus-wrapper {
    padding-top: 4em;
}

.weather-wrapper {
    position: absolute;
    top: 1%;
    right: 1%;
}

.weather-icon {
    color: #f9d71c;
    display: inline;
}

.weather-temperature {
    display: inline;
}

.button-updates {
    background-color: transparent;
    color: white;
    padding-left: 20rem;
}

.button-updates:focus {
    box-shadow: none;
}

.weather-wrapper .dropdown-menu {
    width: 25rem;
    height: 12rem;
    background-color: rgba(37, 37, 37, 0.7);
    color: white;
}

.dropdown-wrapper {

}

.weather-widget-row-small {
    height: 25%;
    margin: 0% 1% 0% 1%;
}

.weather-widget-row-large {
    height: 50%;
    width: 100%;
}

.five-day-wrapper {
    height: 100%;
    width: 20%;
    display: inline-block;
    text-align: center;
}

.day-header {
    font-size: .75em;
}

.five-day-weather-triple {
    display: inline;
    padding: 0 5% 0 5%;
    font-size: .75em;
}

.active-day {
    background-color: rgba(37, 37, 37, 0.3);
}

.city-holder, .more-options-ellipsis-wrapper, .large-weather-icon, .large-current-temperature {
    width: 50%;
    display: inline-block;
    height: 100%;
}

.city-holder {
    padding-left: 2%;
}

.city-name {
    font-size: 1.3em;
    font-weight: bold;
}

.more-options-ellipsis {
    position: absolute;
    top: -10%;
    right: 3%;
    font-size: 2em;
}

.more-options-ellipsis:hover {
    cursor: pointer;
}

.large-weather-icon, .large-current-temperature {
    line-height: 100%;
}

.large-weather-icon {
    text-align: right;
    font-size: 4em;
    color: #f9d71c;
    padding-right: 2.5%;
}

.large-current-temperature {
    font-size: 4em;
    padding-left: 2.5%;
}

.crossout {
    text-decoration: line-through;
}

.hidden {
    display: none;
}