body {
    height: 100%;
    max-width: 100%;
    color: white;
    overflow: hidden;
}

/****** Links widget ******/
.links-wrapper {
    position: absolute;
    top: 15px;
    left: 15px;
}
.links-wrapper button {
    border: none;
    background-color: transparent;
    cursor: pointer;
    padding: 0;
    color: rgb(255,255,255);
}
.links-wrapper button:focus {
    outline: 0;
}
#links-panel {
    opacity: 0;
    transform: translate3d(0, -5px, 0);
    background: rgba(15,15,15,.65);
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.925);
    margin: 10px 0 0 0;
    padding: 10px;
    width: 240px;
}
#links-panel a {
    color:#fff;
    text-decoration: none;
    opacity: .7;
    transition: all .1s;
    display: block;
}
#links-panel a:hover {
    opacity: 1;
}
#links-panel i {
    margin-right: 5px;
}
#links-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.link-list-item {
    cursor: pointer;
}
.links-input {
    background-color: transparent;
    border: none;
    color: #fff;
    opacity: .9;
    font-size: .9em;
    width: 94%;
}
.links-input:focus {
    outline: 0;
}
#links-close-btn,
.links-delete-btn {
    opacity: 0.5;
    font-size: 20px;
    cursor: pointer;
    line-height: 1;
}
.links-delete-btn {
    opacity: 0;
    float: right;
}
#links-input-url,
#links-close-btn,
#links-list {
    /* Hide initially */
    display: none; 
}
#links-input:focus {
    outline: 0;
}

/** Clock Classes **/
.clock {
    font-size: 8.5em;
}

.center-horizontally {
    width: 100%;
    text-align: center;
}

/** Greeting Classes **/

.greeting {
    font-size: 4em;
}

/** CSS animations **/
@keyframes reset {
    0% {
       transform: translate3d(0, 0, 0);
    }
    100% {
        transform: translate3d(0, 15px, 0);
    }
}
@keyframes shiftUp {
    0% {
       transform: translate3d(0, 15px, 0);
    }
    100% {
        transform: translate3d(0, 0, 0);
    }    
}
@keyframes fadeInDown {
    0% {
      opacity: 0;
      transform: translate3d(0, -20px, 0);
    }
    100% {
      opacity: 1;
      transform: none;
    }
}
@keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
}
@keyframes fadeInUp {
    0% {
      opacity: 1;
      transform: none;
    }
    100% {
      opacity: 0;
      transform: translate3d(0, -20px, 0);
    }
}
@keyframes fadePanelDown {
    0% {
      opacity: 0;
      transform: translate3d(0, -5px, 0);
    }
    100% {
      opacity: 1;
      transform: none;
    }
}
@keyframes fadePanelUp {
    0% {
      opacity: 1;
      transform: none;
    }
    100% {
      opacity: 0;
      transform: translate3d(0, -10px, 0);
    }
}
/* Utility class to set general rules for an animated element. Apply this on all elements that will animate */
.animation-element {
    animation-duration: .3s;
    transition-timing-function: ease-in-out;
    animation-fill-mode: both;
}
/* Utility class to fade down a panel */
.fadePanelDown {
    animation-name: fadePanelDown;
}
/* Utility class to fade up a panel */
.fadePanelUp {
    animation-name: fadePanelUp;
}
/* Animate to default position off hover */
.quoteTextWrapper{
    animation-name: reset;
}
/* Animate to default position off hover  */
.authorLikeTwitter {
    animation-name: fadeInUp;
}
/* Animate to new position on hover */
.quoteTextWrapper:hover{
    animation-name: shiftUp;
}
/* Animate to new position on hover */
.quoteTextWrapper:hover .authorLikeTwitter{
    animation-name: fadeInDown;
}
.link-list-item:hover .links-delete-btn {
    animation-name: fadeIn;
}

/** Quote Classes **/
.quoteHolder {
    position: absolute;
    bottom: 0;
    margin-bottom: 10px;
    text-align: center;
    max-width: 50%;
}
  
.quoteAuthor, .like, .twitterIcon {
    display: inline;
    margin-right: .5%;
}

.authorLikeTwitter {
    width: 100%;
    opacity: 0;
}
.like:hover {
    color: #EE2625;
    cursor: pointer;
    transition: color 0.3s linear;
}

/** fill in heart on click **/
.red-background {
    color: #EE2625; 
}

.twitterIcon:hover {
    color: #1dcaff;
    cursor: pointer;
    transition: color 0.3s linear;
}

.quoteTextWrapper{
    position: relative;
    margin: 0 auto;
}

.quoteText{
    margin: 0 auto;
    height: 100%;
}

/** Focus Classes **/

.focus-question {
    margin-top: 5%;
    margin-bottom: 2%;
    font-size: 3em;
}

#focus-item {
    width: 40%;
    box-sizing: border-box;
    border: none;
    border-bottom: 2px solid white;
    background-color: transparent;
    font-size: 2em;
    text-align: center;
    box-shadow:0px 1px rgb(0,0,0);
}

#focus-item:focus {
    outline-width: 0;
}

.stack {
    display: inline-block;
}

input[type=text]#focus-item {
    color: white;
}

.current-focus {
    text-align: center;
    margin: 0 auto;
    padding-bottom: 1em;
    display: inline;
}

.current-focus:hover .remove-focus, .current-focus:hover .check-box {
    visibility: visible;
    opacity: 1;
    transition: visibility 0s, opacity 0.5s linear;
}

.remove-focus:hover, .check-box:hover {
    cursor: pointer;
}

.today-text {
    font-size: 2em;
    margin-bottom: .5em;
}

.focus-text {
    font-size: 1.5em;
    padding-left: 1em;
    padding-right: 1em;
}

.remove-focus, .check-box {
    visibility: hidden;
    opacity: 0;
}

.focus-element {
    min-height: 16.5em;
}

.current-focus-wrapper {
    padding-top: 4em;
}

@keyframes blink {
    /**
     * At the start of the animation the dot
     * has an opacity of .2
     */
    0% {
      opacity: .2;
    }
    /**
     * At 20% the dot is fully visible and
     * then fades out slowly
     */
    20% {
      opacity: 1;
    }
    /**
     * Until it reaches an opacity of .2 and
     * the animation can start again
     */
    100% {
      opacity: .2;
    }
}

.saving {
    display: none;
    font-size: 1.5em;
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
}

.saving span {
    /**
     * Use the blink animation, which is defined above
     */
    animation-name: blink;
    /**
     * The animation should take 1.4 seconds
     */
    animation-duration: 1.4s;
    /**
     * It will repeat itself forever
     */
    animation-iteration-count: infinite;
    /**
     * This makes sure that the starting style (opacity: .2)
     * of the animation is applied before the animation starts.
     * Otherwise we would see a short flash or would have
     * to set the default styling of the dots to the same
     * as the animation. Same applies for the ending styles.
     */
    animation-fill-mode: both;
}

.saving span:nth-child(2) {
    /**
     * Starts the animation of the third dot
     * with a delay of .2s, otherwise all dots
     * would animate at the same time
     */
    animation-delay: .2s;
}

.saving span:nth-child(3) {
    /**
     * Starts the animation of the third dot
     * with a delay of .4s, otherwise all dots
     * would animate at the same time
     */
    animation-delay: .4s;
}

.big-dots {
    font-size: 2em;
}

/** Weather Classes **/

.weather-wrapper {
    position: absolute;
    top: 1%;
    right: 1%;
}

.weather-wrapper:focus {
    outline: 0;
}

.weather-icon {
    display: inline;
}

.weather-temperature {
    display: inline;
    margin-left: .2em;
}

.button-updates {
    background-color: transparent;
    padding-left: 20rem;
    color: rgb(255,255,255);
}

.button-updates:focus {
    box-shadow: none;
}

.weather-wrapper .dropdown-menu-left {
    width: 25rem;
    height: 12rem;
    background-color: rgba(37, 37, 37, 0.7);
    color: white;
}

.dropdown-wrapper {
    text-shadow: none;
}

.weather-widget-row-small {
    height: 25%;
    margin: 0% 1% 0% 1%;
}

.weather-widget-row-large {
    height: 50%;
    width: 100%;
}

.five-day-wrapper {
    height: 100%;
    width: 20%;
    display: inline-block;
    text-align: center;
}

.five-day-wrapper:hover {
    cursor: pointer;
    background-color: rgba(37, 37, 37, 0.7);
}

.day-header {
    font-size: .75em;
}

.five-day-weather-triple {
    display: inline;
    padding: 0 5% 0 5%;
    font-size: .75em;
}

.active-day {
    background-color: rgba(37, 37, 37, 0.7);
}

.active-day-name {
    font-size: .75em;
    opacity: .7;
    font-weight: normal;
}

.city-holder, .large-weather-icon, .large-current-temperature {
    width: 50%;
    display: inline-block;
    height: 100%;
}

.city-holder {
    padding-left: 2%;
}

.city-name {
    font-size: 1.3em;
    font-weight: bold;
}

.large-weather-icon, .large-current-temperature {
    line-height: 100%;
}

.large-weather-icon {
    text-align: right;
    font-size: 4em;
    padding-right: 2.5%;
}

.large-current-temperature {
    font-size: 4em;
    padding-left: 2.5%;
}

.low-temp {
    font-size: .7em;
    color: #DCDCDC;
}

.crossout {
    text-decoration: line-through;
}

.hidden {
    display: none;
}

/** Weather Settings Classes **/
.more-options-ellipsis {
    position: absolute;
    top: -10%;
    right: 3%;
    font-size: 2em;
}

.more-options-ellipsis:hover {
    cursor: pointer;
}

.top-button-identifier {
    /***
    /*** Do not add styles to this class
    /*** Serves as ID for onClick handler ***/
}

.dropdown-menu:focus {
    outline: none;
}

.unstyled-button {
    background-color: transparent;
    font-size: 1.2em;
    color: white;
}

.unstyled-button:focus {
    box-shadow: none;
}

.weather-settings {
    height: 2em;
    width: 5em;
    background-color: rgba(255,255,255,.2);
    color: white;
    text-align: center;
    padding: .25rem;
    transform: translate3d(-162px, 30px, 0px) !important;
}

.activeUnits {
    font-weight: bold;
}