body{
    width:100%;
    height:100%;
    color: #fff;
    text-shadow: 0 1px 5px rgba(0,0,0,.1);
}

.main{
    opacity: 0;
    position:absolute;
    top:0;
    left:0;
    bottom:0;
    right:0;
    height:100%;
    width:100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-size: cover;
    background-repeat: no-repeat;
    z-index: -1;
}

.fadeIn{
    animation-name: fadeIn;
    animation-iteration-count: 1;
    animation-timing-function: ease-in-out;
    animation-duration: 1s;
    animation-fill-mode:forwards;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.bottom-right{
    bottom:10px;
    right:0;
    position: absolute;
}

.bottom-left{
    bottom:10px;
    left:10px;
    position: absolute;
}
.BGHolder{
    position: absolute;
    bottom: 0;
    left:55px;
    margin-bottom:15px;
    max-width: 20%;
    font-size:80%;
}
#todo-input{
    width:100%;
    padding:0 15px 5px;
    background: rgba(15,15,15,0);
    border: 1px solid rgba(15,15,15,0);
    color:white;
    z-index:0;
    position: relative;
}
.unsplash-link,
.unsplash-link:hover{
    text-decoration: none;
    color: inherit;
}
.todo-panel {
    display: none;
    position: absolute;
    background: rgba(15,15,15,.65);
    width:300px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.925);
    color:white;
    z-index: 0;
}
.d-up{
    bottom:100%;
    right:6px;
}
.s-up{
    bottom:100%;
}
.d-down{
    background: rgb(15,15,15);
    z-index:1;
}

.todo-btn{
    background: transparent;
    border: none !important;
    text-decoration: none;
    box-shadow:none !important;
    color: white;
}
.todo-panel-o{
    display: none;
    position: absolute;
    background: rgba(37, 37, 37, 0.7);
    width:75px;
    height:100px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.925);
    right:3em;
    color:white;
    vertical-align: middle;
    z-index: 1;
    transform:none !important;
    left: unset !important;
    min-width: 100px;
}

.show {
    display:block;
}

.todo-options{
    padding-top: 3px;
    cursor: pointer;
    position: absolute;
    right: 19px;
    top:11px;
}

.todo-item{
    height:auto;
    line-height: 1.2em;
    list-style: none;
    word-wrap: break-word;
    padding: 10px 0 10px 0;
    margin: 10px 0;
    position: relative;
}

.todo-item label{
    padding-left:15px;
    position: relative;
    float:left;
}

.todo-panel ul{
    margin-left: 0;
    padding-left:0;
    position: relative;
}

.todo-item span{
    margin:0 35px;
    display: block;
}
.checked{
    text-decoration: line-through;
}
.unchecked{
    text-decoration: none;
}

.todo-box,
.todo-box-o{
    font-size:16px;
    list-style: none;
    cursor: pointer;
}
.todo-box-o{
    padding-left: 8px;
    position:relative;
}

::-webkit-input-placeholder,
::-moz-placeholder,
:-ms-input-placeholder,
:-moz-placeholder{
  color: white;
}
.todo-ul-o{
    margin-top:12px;
    line-height:24px;
}
.getUser{
    cursor: pointer;
}

