body {
    width:100%;
    height:100%;
    color: rgb(255,255,255);
}

/* Text shadow */
body, 
.settings-btn,
.btn-dropUp,
.links-wrapper button,
.button-updates {
    text-shadow: 0 1px 5px rgba(0,0,0,.3);
}

.main{
    opacity: 0;
    position:absolute;
    top:0;
    left:0;
    bottom:0;
    right:0;
    height:100%;
    width:100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-size: cover;
    background-repeat: no-repeat;
    z-index: -1;
}
a, 
a:hover{
    text-decoration: none;
    color:inherit;
}
ul, ol {
    padding:0;
    margin:0;
    list-style:none;
}

.fadeIn{
    animation-name: fadeIn;
    animation-iteration-count: 1;
    animation-timing-function: ease-in-out;
    animation-duration: 1s;
    animation-fill-mode:forwards;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.bottom-right{
    bottom:10px;
    right:0;
    position: absolute;
    outline:none;
}



#todo-input{
    width:100%;
    padding:0 15px 5px;
    background: rgba(15,15,15,0);
    border: 1px solid rgba(15,15,15,0);
    color:white;
    z-index:0;
    position: relative;
    outline:none;
}

.todo-panel {
    display: none;
    position: absolute;
    background: rgba(15,15,15,.65);
    width:300px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.925);
    color:white;
    text-shadow:none;
    z-index: 0;
}

.d-up{
    bottom:100%;
    right:6px;
}

.d-down{
    background: rgb(15,15,15);
    z-index:1;
}

.todo-btn{
    background: transparent;
    border: none;
    text-decoration: none;
    color: rgb(255,255,255);
    box-shadow:none !important;
}
.btn-dropUp {
        color: rgb(255,255,255);
}
.todo-panel-o{
    display: none;
    position: absolute;
    background: rgba(37, 37, 37, 0.7);
    width:75px;
    height:100px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.925);
    right:3em;
    color:white;
    vertical-align: middle;
    z-index: 1;
    transform:none !important;
    left: unset !important;
    min-width: 100px;
}



.todo-options{
    padding-top: 3px;
    cursor: pointer;
    position: absolute;
    right: 19px;
    top:11px;
}

.todo-item{
    height:auto;
    line-height: 1.2em;
    list-style: none;
    word-wrap: break-word;
    padding: 10px 0 10px 0;
    margin: 10px 0;
    position: relative;
}

.todo-item label{
    padding-left:15px;
    position: relative;
    float:left;
}

.todo-panel ul{
    margin-left: 0;
    padding-left:0;
    position: relative;
}

.todo-item span{
    margin:0 35px;
    display: block;
}
.checked{
    text-decoration: line-through;
}
.unchecked{
    text-decoration: none;
}

.todo-box,
.todo-box-o{
    font-size:16px;
    list-style: none;
    cursor: pointer;
}
.todo-box-o{
    padding-left: 8px;
    position:relative;
}

::-webkit-input-placeholder,
::-moz-placeholder,
:-ms-input-placeholder,
:-moz-placeholder{
  color: white;
}
.todo-ul-o{
    margin-top:12px;
    line-height:24px;
}
/****************** Background-Credit ******************/
.BGHolder{
    position: absolute;
    bottom: 0;
    left:55px;
    margin-bottom:15px;
    max-width: 25%;
    font-size:80%;
}

.BGAuthor {
    display: inline;
}

.BGTextWrapper{
    animation-name: reset;
    width: 300px;
}

.BGTextWrapper:hover{
    animation-name: shiftUp;
}

.BGTextWrapper:hover .authorLikeTwitter{
    animation-name: fadeInDown;
}

.BGTextWrapper{
    position: relative;
    margin: 0 auto;
}
.BGText{
    margin: 0 auto;
    height: 100%;
}

/****************** Settings ******************/
.bottom-left{
    bottom:10px;
    left:10px;
    position: absolute;
    outline:none;
}
.settings-btn {
    background: transparent;
    color: rgb(255,255,255);
    box-shadow:none !important;
}

.s-up{
    bottom:100%;
}

.settings-container{
    height: 450px;
    padding: 30px;
    box-sizing: border-box;
    overflow-x: hidden;
    overflow-y: auto;
}

.settings-nav{
    position: relative;
    height: 450px;
    width: 180px;
    margin-top: 0;
    padding: 28px 0 0 20px;
    float: left;
    overflow: hidden;
    list-style:none;
}
.settings-nav-item{
    padding: 6px 20px;
    display: block;
    cursor: pointer;
    opacity: 0.6;
    color:white;
}
.settings-panel {
    height:450px;
    display: none;
    position: absolute;
    background: rgba(15,15,15,.65);
    width:700px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.925);
    color:white;
    z-index: 0;
    text-shadow:none;
}
.login-nav{
    bottom:0;
    position:absolute;
    width:100%;
    margin: 0 10px 12px;
    padding: 10px 12px;
    cursor: pointer;
}
.input-toggle{
	height: 0;
	width: 0;
	visibility: hidden;
}
.label-toggle {
	cursor: pointer;
	width: 35px;
	height: 20px;
	background: grey;
	border-radius: 100px;
	position: relative;
	float:right;
}
.text-toggle{
    cursor: pointer;
   	position: relative;
	float:right; 
}
.label-toggle:after {
	content: '';
	position: absolute;
	top: 5px;
	left: 5px;
	width: 12px;
	height: 12px;
	background: #fff;
	border-radius: 90px;
	transition: 0.3s;
}

.input-toggle:checked + .label-toggle:after {
	left: calc(100% - 5px);
	transform: translateX(-100%);
}

.label-toggle:active:after {
	width: 25px;
}
.slide-toggle {
    padding: 9px 0;
    position: relative;
    cursor: pointer;
    user-select: none;
}
.settings-list li{
    border-top: 1px solid rgba(255,255,255,0.15);
}
.settings-header{
    font-size: 90%;
    margin-bottom:10px;
    text-transform:uppercase;
    margin-top:40px;
}
.bottom-toggle{
    border-bottom:1px solid rgba(255,255,255,0.15);
}

.settings-subnav {
    margin: 0 -30px;
    padding: 6px 30px;
    align-items: center;
}
.settings-subnav h4 {
    margin-bottom: 0;
    padding: 12px;
    display: inline-block;
    cursor: pointer;
    font-size: 85.714%;
    opacity: 0.6 !important;
    text-transform: uppercase;
}
.settings-img{
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    width: 100px;
    height:75px;
}
.settings-img:hover{
    box-shadow: 0 0 2px 1px red;
}
.settings-img-container{
    padding-right:15px;
    padding-top:15px;
    display: inline-block;
}

.toggle-options {
    padding: 3px;
    display: inline-block;
    cursor: pointer;
    opacity: 0.6
}
.toggle-options.active,
.picSub.active,
.quoteSub.active,
.quoteHistLiked{
    opacity: 1 !important
}

.quoteHist{
    opacity: 0.6 !important;
}

/****************** Like Button ******************/
.favorite{
    color: #EE2625;
    cursor: pointer;
    display: inline;
    margin-right: .5%;
}

/****************** Show/Hide ******************/
.hide{
    visibility:hidden;
}
.show {
    display:block;
}


